<!-- Local JS files -->
<script src="{{ site.assets_url }}/config.js" async></script>
<script src="{{ site.assets_url }}/main.js" async></script>

<!-- NProgress.js -->
<script async>
NProgress.start();
setTimeout(function() { NProgress.done(); }, 1000);
</script>

<!-- Twitter Widgets -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8" async></script>

<!-- JSON-lD -->
<script async>
{
  "@context": "http://schema.org",
  "id": "https://www.wikibase.isc/wiki/$18",
  "type": "Person",
  "name": "Aahash de Ruffy",
  "givenName": "Aahash",
  "familyName": "de Ruffy",
  "alternateName" : "",
  "url" : "https://aahash.tk/",
  "jobTitle": "Founder & CEO of ACS / Co-Creator of 'The Jack's Dogs Family'",
  "image": "https://commons.wikimedia.org/wiki/File:Aahash_de_Ruffy.jpg",
  "gender": "Male",
  "born": "2001-02-18",
  "sameAs" : [ "https://www.facebook.com/suriyaa.kudo",
	"https://twitter.com/SuriyaaKudoIsc",
    "https://www.youtube.com/user/suriyaakudo",
    "https://www.linkedin.com/pub/suriyaa-kudo/9b/a1/a9",
    "https://plus.google.com/+SuriyaaKudo" ]
}
</script>

<!-- Google Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js" async></script>
<script async>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDqqj9l9BiTS93KJatNeIB-kNzNPxC9k24",
    authDomain: "aahash-de-ruffy.firebaseapp.com",
    databaseURL: "https://aahash-de-ruffy.firebaseio.com",
    storageBucket: "aahash-de-ruffy.appspot.com",
    messagingSenderId: "124394947458"
  };
  firebase.initializeApp(config);
</script>

<!-- Google Analytics -->
<script async>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

// Basic Settings
ga('create', 'UA-53583302-4', 'auto');
ga('send', 'pageview');

// Anonymize IP Tracking
ga('set', 'anonymizeIp', true);

// Social Tracking
ga('send', 'social', 'Facebook', 'like', 'https://aahash.tk');
ga('send', 'social', 'Twitter', 'Tweet', 'https://aahash.tk');
ga('send', 'social', 'Twitter', 'Follow', 'https://aahash.tk');
</script>
